In [2]:
import csv
import requests
from bs4 import BeautifulSoup

Creation of Beautiful-Soup objects

In [3]:
#Created using websites HTML and the lxml parser
soup = BeautifulSoup(requests.get("https://www.worldometers.info/coronavirus/").text,'lxml')

Finding the ID attribute

In [4]:
#In HTML find a table with ID attribute as main_table_countries_today
table = soup.find("table", {'id' : 'main_table_countries_today'})

Extract heading end clean the data

In [5]:
#Extract the heading which describes each column and replaces unwanted characters with an empty string
headings = [h.text.replace('\n','').replace('\xa0','') for h in table.find_all('th')]  #'\xa0' -> Deals with non breaking space

Find the data for all the continents across the globe

In [6]:
#From the table find the rows which don't have a data-continent attribute, As we want the data of all countries not the particular continent
rows = [r for r in table.find_all('tr') if not r.has_attr('data_continent')]

Removal of first row

In [7]:
#Removing first row from the rows in the table as because it is already extracted
rows = rows[1:]

Creation of result list

In [8]:
#Creating a list which holds all the data which is later returned as a CSV file
result = []

Appending Headings

In [9]:
#Adding headings to the results
result.append(headings)

Adding the data to each row

In [10]:
#Loop over each row in the table
for table_row in rows:
  #Find the data which is to extracted, add it to the list called row
  row = []
  for data in table_row.find_all('td'):
    if data.a is not None:
      row.append(data.a.text)
    else:
      row.append(data.text)
  #Add row to the result
  result.append(row)

Preperation of storage

In [14]:
#Create and open an empty csv file named data.csv to write data to
csv_file = open('data.csv','w',newline='')

In [15]:
#Create a csv file writer which will write to data.csv
writer = csv.writer(csv_file)

Write results to csv and strore

In [16]:
#Write results to csv file
writer.writerows(result)

In [17]:
#Close the csv file for the data to be saved
csv_file.close()

In [18]:
import pandas as pd
df = pd.read_csv('data.csv')
df

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,NaN,\nNorth America\n,"126,479,590","+1,526","1,632,053",14.0,"122,304,626","+1,027","2,542,911","6,313",...,NaN,NaN,NaN,North America,\n,NaN,NaN,NaN,NaN,NaN
1,NaN,\nAsia\n,"217,233,234","+25,035","1,546,037",29.0,"200,915,900","+9,862","14,771,297","15,626",...,NaN,NaN,NaN,Asia,\n,NaN,NaN,NaN,NaN,NaN
2,NaN,\nEurope\n,"249,198,019",+408,"2,057,330",5.0,"245,150,286","+9,331","1,990,403","5,870",...,NaN,NaN,NaN,Europe,\n,NaN,NaN,NaN,NaN,NaN
3,NaN,\nSouth America\n,"68,671,353",NaN,"1,355,254",NaN,"66,459,064",NaN,"857,035","10,123",...,NaN,NaN,NaN,South America,\n,NaN,NaN,NaN,NaN,NaN
4,NaN,\nOceania\n,"14,309,454","+5,523","27,779",15.0,"14,137,832","+4,851","143,843",86,...,NaN,NaN,NaN,Australia/Oceania,\n,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,NaN,Total:,"68,671,353",NaN,"1,355,254",NaN,"66,459,064",NaN,"857,035","10,123",...,NaN,NaN,NaN,South America,,NaN,NaN,NaN,NaN,NaN
243,NaN,Total:,"14,309,454","+5,523","27,779",15.0,"14,137,832","+4,851","143,843",86,...,NaN,NaN,NaN,Australia/Oceania,,NaN,NaN,NaN,NaN,NaN
244,NaN,Total:,"12,823,105",NaN,"258,762",NaN,"12,085,070",NaN,"479,273",548,...,NaN,NaN,NaN,Africa,,NaN,NaN,NaN,NaN,NaN
245,NaN,Total:,721,NaN,15,NaN,706,NaN,0,0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
246,NaN,Total:,"688,715,476","+32,492","6,877,230",63.0,"661,053,484","+25,071","20,784,762","38,566",...,NaN,NaN,NaN,All,\n,NaN,NaN,NaN,NaN,NaN